<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatroom.mapper.UserInfoMapper">

    <insert id="insertInfo">
        insert into user_info values(#{userId},#{userImage},#{userName})
    </insert>
</mapper>